/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }

#footer{
  opacity: 0.5;
}

div#post{
  background: rgba(255, 255, 255, 0.9);
}
div#page{
  background: rgba(255, 255, 255, 0.9);
}
div#archive{
  background: rgba(255, 255, 255, 0.9);
}
div#tag{
  background: rgba(255, 255, 255, 0.9);
}
div#category{
  background: rgba(255, 255, 255, 0.9);
}
#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.9) !important;
}
#recent-posts > .recent-post-item {
    background: rgba(255, 255, 255, 0.9) !important;
}

#hidden_element{
  display: none!important;
  visibility: hidden;
  opacity: 0;
  /* 三条属性择一即可 */
}


[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    }

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 阅读模式 */
.read-mode #aside-content .card-widget{
      background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#post{
    background: rgba(158, 204, 171, 0.5)!important;
    }

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}

/*aplayer 播放器隐藏*/
.aplayer .aplayer-lrc p {
  font-size:12px;
  font-weight:700;
  line-height:16px!important
}
.aplayer .aplayer-lrc p.aplayer-lrc-current {
  font-size:15px;
  color:#49b1f5
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left:-66px!important
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left:0!important
}


/* 评论框  */

.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
}


/* 提交按钮 */

#vcomment button {
    padding: 0.3rem 0.8rem;
    border-color: #fff;
    background-color: #e58a8a;
    color: #fff;
    font-size: 0.7rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}


/* 评论区代码块 */

.v[data-class=v] code {
    color: #c7254e;
    background-color: #F9F2F4;
}
/* 设置评论框 */

.vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
}


/* 取消回复聊天框 */

.vquote .vcard {
    box-shadow: 2px 2px 5px transparent;
    background: rgba(255, 255, 255, 0.0);
    padding: 0px;
}

/* 首页中间打字效果上方 */
#page-header #site_title {
    color: #80bdab;
}
/* 顶部导航栏 */
#nav a {
    color: #f9f2f4;
}

/*页脚自定义字段字体颜色*/
/* 也就是配置文件里的footer_custom_text */
.footer_custom_text {
    color: #00c4b6;
}